{% if template == 'index' %}
<div class="col-lg-3 col-md-4 col-sm-6 pb-1">
{% elif template == 'shop' %}
<div class="col-lg-4 col-md-6 col-sm-6 pb-1">
{% endif %}
    <div class="product-item bg-light mb-4">
        <div class="product-img position-relative overflow-hidden">
            <img class="img-fluid w-100" src="{{ product.images.first.get_absolute_url }}" alt="" style="width: 100%; height: 300px; object-fit: cover;">
            <a href="{{ product.get_absolute_url }}">
                <div class="product-action"></div>
            </a>
        </div>
        <div class="text-center py-4">
            <a class="h6 text-decoration-none text-truncate" href="{{ product.get_absolute_url }}">{% if product.headline %}{{ product.headline|safe }}{% else %}{{ product.name }}{% endif %}</a>
            <div class="d-flex align-items-center justify-content-center mt-2">
                {% if product.has_discount %}
                    <h5>{{ product.discounted_price_range }}</h5><h6 class="text-muted ml-2"><del>{{ product.price_range }}</del></h6>
                {% else %}
                    <h5>{{ product.price_range }}</h5></h6>
                {% endif %}
            </div>
            <div class="d-flex align-items-center justify-content-center mb-1">
                {% with product.average_rating as avg_rating %}
                  <small class="fa{% if avg_rating <= 0 %}r{% endif %} fa-star{% if avg_rating <= 0.5 and avg_rating > 0 %}-half-alt{% endif %} text-primary mr-1"></small>
                  <small class="fa{% if avg_rating <= 1 %}r{% endif %} fa-star{% if avg_rating <= 1.5 and avg_rating > 1 %}-half-alt{% endif %} text-primary mr-1"></small>
                  <small class="fa{% if avg_rating <= 2 %}r{% endif %} fa-star{% if avg_rating <= 2.5 and avg_rating > 2 %}-half-alt{% endif %} text-primary mr-1"></small>
                  <small class="fa{% if avg_rating <= 3 %}r{% endif %} fa-star{% if avg_rating <= 3.5 and avg_rating > 3 %}-half-alt{% endif %} text-primary mr-1"></small>
                  <small class="fa{% if avg_rating <= 4 %}r{% endif %} fa-star{% if avg_rating <= 4.5 and avg_rating > 4 %}-half-alt{% endif %} text-primary mr-1"></small>
                {% endwith %}
                <small>{{ product.reviews.count }}</small>
            </div>
        </div>
    </div>
</div>
